---
import { Image } from "astro:assets";
import Logo from "../../public/logo.svg";
import LanguageSwitcher from "../components/LanguageSwitcher";
import { ButtonThemeSwitcher } from "@/components/ThemeSwitcher";
import { MeetupButton } from "@/components/MeetupButton";
---

<nav
  class="w-full max-w-full px-6 py-4 border-b flex justify-between items-center bg-background border-border"
>
  <div class="flex items-center gap-2">
    <Image src={Logo} alt="Logo" class="w-8 h-8" />
    <span class="text-lg font-semibold text-foreground"
      >Tokyo Indie Hackers</span
    >
  </div>
  <div class="hidden lg:flex lg:items-center lg:space-x-8">
    <a
      href="#about"
      class="text-foreground/80 hover:text-foreground transition-colors"
    >
      About
    </a>
    <a
      href="#events"
      class="text-foreground/80 hover:text-foreground transition-colors"
    >
      Events
    </a>
    <a
      href="#community"
      class="text-foreground/80 hover:text-foreground transition-colors"
    >
      Community
    </a>
  </div>
  <div class="flex items-center gap-4">
    <div class="flex items-center space-x-4">
      <LanguageSwitcher client:load currentPath={Astro.url.pathname} />
      <ButtonThemeSwitcher client:load />
      <MeetupButton client:load />
    </div>
  </div>
</nav>
