---
import { Image } from "astro:assets";
import Logo from "../../public/logo.svg";
import LanguageSwitcher from "../components/LanguageSwitcher";
import { ButtonThemeSwitcher } from "@/components/ThemeSwitcher";
---

<nav
  class="w-full max-w-full px-6 py-4 border-b flex justify-between items-center"
>
  <div class="flex items-center gap-2">
    <Image src={Logo} alt="Logo" class="w-8 h-8" />
    <span class="text-lg font-semibold">Tokyo Indie Hackers</span>
  </div>
  <div class="hidden lg:flex lg:items-center lg:space-x-8">
    <a
      href="#about"
      class="text-gray-700 hover:text-gray-900 transition-colors"
    >
      About
    </a>
    <a
      href="#events"
      class="text-gray-700 hover:text-gray-900 transition-colors"
    >
      Events
    </a>
    <a
      href="#community"
      class="text-gray-700 hover:text-gray-900 transition-colors"
    >
      Community
    </a>
  </div>
  <div class="flex items-center gap-4">
    <div class="flex items-center space-x-4">
      <LanguageSwitcher client:load currentPath={Astro.url.pathname} />
      <ButtonThemeSwitcher client:load />
      <a
        href="https://lu.ma/event/evt-hDQlXw4KwPAFPLQ"
        class="luma-checkout--button"
        data-luma-action="checkout"
        data-luma-event-id="evt-hDQlXw4KwPAFPLQ"
      >
        Register for Event
      </a>
      <script
        is:inline
        id="luma-checkout"
        src="https://embed.lu.ma/checkout-button.js"></script>
    </div>
  </div>
</nav>
