---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
const title = "Tokyo Indie Hackers";
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main>
      <Hero nextEventDate="Feb 16" nextEventTime="14:00 - 16:00 JST" />
      <slot />
    </main>
  </body>
</html>
